script(src='/dashboard/MagicMirror/components/underscore/underscore-min.js')
script(src='/dashboard/MagicMirror/components/rivets/dist/rivets.bundled.min.js')

table
    thead
        tr
            th Name
            th Steam ID
            th Following
    tbody
        tr(rv-each-client="data.clients")
            td { client.name }
            td { client.steam }
            td
                select(rv-value="client.following", rv-on-change="updateFollow")
                    option(value=0) ---
                    option(rv-each-follow="data.clients", rv-disabled="follow.steam | isEqual client.steam", rv-value="follow.steam") { follow.name }
